
__pycache__
/Users/admin/Documents/DAPyhthon/P10_benbelgacem_bassem/P10_03_site/P10_03_site-AIP-SjY1
/Users/admin/Documents/DAPyhthon/P10_benbelgacem_bassem/P10_03_site/htmlcov
/Users/admin/Documents/DAPyhthon/P10_benbelgacem_bassem/P10_03_site/mysite.log
/Users/admin/Documents/DAPyhthon/P10_benbelgacem_bassem/P10_03_site/purbeurre/settings/production.py

